.container{
  margin-top:100px;
}

.counter-box {
display: block;
background: #6e66b9;
padding: 40px 20px 37px;
text-align: center
}

.counter-box p {
margin: 5px 0 0;
padding: 0;
color: white;
font-size: 18px;
font-weight: 500
}

.counter-box i {
font-size: 60px;
margin: 0 0 15px;
color: #d2d2d2
}

.counter { 
display: block;
font-size: 32px;
font-weight: 700;
color: white;
line-height: 28px
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
color: #fff
}
body {
  font-family: "Open Sans", sans-serif;
  color: black;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #cc1616;
  background: none;
}
a {
  color: #cc1616;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  background: #000000;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#home {
  width: 100%;
  height: calc(100vh - 110px);
  background: whitesmoke;
  background-size: cover;
  position: relative;
}

