<!-- addEmployee.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
</head>
<body id="home">
    
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/img/sales.png.webp" alt="" width="80" height="50"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{sales-manager/index}">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/sales-manager}">Saller management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/employees}">Employee management</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br><br>

    <h2>Add Employee</h2>
    <form action="/employees/add" method="post">
        <label for="employeeNumber">Employee Number:</label>
        <input type="text" id="employeeNumber" name="employeeNumber"><br><br>
        
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName"><br><br>
        
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName"><br><br>
        
        <label for="extension">Extension:</label>
        <input type="text" id="extension" name="extension"><br><br>
        
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br><br>
        
        <label for="reportsTo">Reports To:</label>
        <input type="text" id="reportsTo" name="reportsTo"><br><br>
        
        <label for="jobTitle">Job Title:</label>
        <input type="text" id="jobTitle" name="jobTitle"><br><br>
        
        <label for="officeCode">Office Code:</label>
        <input type="text" id="officeCode" name="officeCode"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>