<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <style>
        .card {
            max-width: 20rem;
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/css/logoclassic.png" alt="" width="100"
                    height="40"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/employees}">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"th:href="@{/sales-manager}">GESTION DE VENDEDORES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/employees}">GESTION DE CLIENTES</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br><br>
    <h1>Employee detail</h1>
    <div class="card mx-auto my-4">
        <div class="card-body">
            <p class="card-text">Employee Number: <span th:text="${employee.employeeNumber}"></span></p>
            <p class="card-text">Name: <span th:text="${employee.firstName} + ' ' + ${employee.lastName}"></span></p>
            <p class="card-text">Email: <span th:text="${employee.email}"></span></p>
            <p class="card-text">Extension: <span th:text="${employee.extension}"></span></p>
            <p class="card-text">Report To: <span th:text="${employee.reportsTo}"></span></p>
            <p class="card-text">Job Title: <span th:text="${employee.jobTitle}"></span></p>
        </div>
    </div>
    <a href="/employees">Back to Employee List</a> <!-- Enlace para regresar a la lista de empleados -->

<!-- Link to Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</body>
</html>